// Fonts

$fontsPath: "/bundles/app/fonts";

@font-face {
  font-family: "Envoy Light";
  src: url('#{$fontsPath}/Envoy/light.woff') format('woff');
}

@font-face {
  font-family: "Envoy Normal";
  src: url('#{$fontsPath}/Envoy/normal.woff') format('woff');
}

@font-face {
  font-family: "Envoy Extra Bold";
  src: url('#{$fontsPath}/Envoy/extra_bold.woff') format('woff');
}

@font-face {
  font-family: "Envoy Semi Bold";
  src: url('#{$fontsPath}/Envoy/semi_bold.woff') format('woff');
}

@font-face {
  font-family: "Envoy Bold";
  src: url('#{$fontsPath}/Envoy/bold.woff') format('woff');
}

// Bootstrap

$bootstrapPath: "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$gray-base: #000 !default;

$body-bg: #fafafb;
$text-color: lighten($gray-base, 50%);
$input-color-placeholder: lighten($gray-base, 80%);
$grid-columns: 10;
$grid-gutter-width: 0;
$font-family-sans-serif: "Envoy Normal";

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_normalize";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_type";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_grid";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_utilities";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_forms";


p {
  margin-bottom: 5px;
}

label {
  margin-bottom: 0;
  color: $input-border-focus;
  font-family: "Envoy Light"
}

.has-error {

  label {
    display: none;
    color: #a94442;

    &.error {
      display: inline-block;
    }
  }

  .form-control {
    box-shadow: none;

    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
}

.has-success {
  .form-control {
    box-shadow: none;

    &:focus {
      background: transparent;
      box-shadow: none;
    }
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 16px;
  padding-top: 0;
  padding-left: 0;

  &:focus {
    background: transparent;
    box-shadow: none;

    &::-moz-placeholder {
      opacity: 0;
    }
    &:-ms-input-placeholder {
      opacity: 0;
    }
    &::-webkit-input-placeholder  {
      opacity: 0;
    }
  }
}

.form-group {
  padding-left: 45px;
}

.container-fluid {
  padding: 0 50px;
}

form {
  margin-left: -45px;
}

.user-form {
  &-header {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 100px;
    padding: 0 30px;

    &-title {
      font-size: 20px;
      text-align: center;
      line-height: 3.1;
      color: $text-color;
    }
  }

  &-content {
    max-width: 885px;
    padding-bottom: 50px;

    &-title {
      margin-top: 0;
      margin-bottom: 75px;
    }
  }

  &-toolbar {
    text-align: right;
  }

  &-actions {
    margin: 18px 0;
    display: inline-block;
    white-space: nowrap;

    li {
      border-left: 1px solid #e1e1e1;
      display: inline-block;
      padding: 0 20px;
      font-size: 16px;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &-cancel {
    color: $input-color-placeholder;
    text-decoration: none;

    &:hover {
      color: $input-color-placeholder;
      text-decoration: none;
    }
  }

  &-save {
    color: $input-border-focus;
    text-decoration: none;

    &:hover {
      color: $input-border-focus;
      text-decoration: none
    }
  }

  &-gender {
    text-align: right;
  }
}

.header {
  padding-top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid lighten($gray-base, 90%);

  &-title {
    margin-top: 35px;
    margin-bottom: 0;
  }

  &-toolbar {
    text-align: right;
  }

  &-button {
    height: 36px;
    margin: 20px 0 0 0;
    background: #fff;
    border-radius: 18px;
    width: 125px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 2.5;
    color: $text-color;

    &:hover {
      color: $text-color;
      text-decoration: none;
      background: darken(#fff, 7%);
    }
  }
}

.content {
  margin-left: -40px;
  margin-bottom: 40px;
}

.user {
  &-info {
    @include clearfix;
    margin-top: 40px;
    margin-left: 40px;
    min-height: 145px;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);

    &-list {
      text-align: right;
      margin-right: 20px;

      li {
        margin-bottom: 5px;
      }
    }

    &-text {
      margin-left: 20px;
    }
  }

  &-name {
    margin-top: 0;
    margin-bottom: 15px;
    color: lighten($gray-base, 80%);
  }

  &-birthday {
    color: lighten($gray-base, 80%);
  }

  &-email {
    color: lighten($gray-base, 80%);
  }
}

// Font Awesome

$fa-font-path: "/bundles/app/fonts/FontAwesome";
$fa-font-size-base: 18px;
@import "../../../../node_modules/font-awesome/scss/font-awesome";

// Awesome Bootstrap Checkbox

$input-border-color: #e1e1e1;
@import "../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";

.abc-checkbox {

  &.checkbox-inline {
    margin-top: 19px;
  }

  input[type="radio"] {
    &:checked + label {
      color: $text-color;
    }
  }

  label {
    font-size: 16px;
    color: $input-color-placeholder;
    cursor: pointer;

    &::before {
      width: 21px;
      height: 21px;
      margin-left: -25px;
    }

    &::after {
      padding-left: 4px;
      padding-top: 2px;
      font-size: 13px;
      margin-left: -25px;
    }
  }
}



